<%- include('partials/header.ejs') %>

  <form method="POST" action="/" enctype="multipart/form-data">
    <input id='text' type="text" name="caption">
    <input id='file' type="file" name='post' >
    <input id='submit' type="submit">
  </form>


<% 
  if(error){
    console.log(message)
  }
%>

<%  
  let postHeader  
  if( !numberOfPosts ){
    postHeader = "No Posts Yet"
  }else{
    postHeader = "ThumbNail Collection" %> 
<% }%>

<span id='count' hidden> <%=numberOfPosts%> </span>


<p><%=postHeader%></p>
<div class="allPosts"></div>

<script>
  const count = Number(document.getElementById("count").textContent)
  for( let i = 0 ; i < count ; i++ ){
    const x = document.createElement("img")
    x.src = `IMAGES/post-${i+1}.png`
    x.id  = i+1
    document.querySelector(".allPosts").appendChild(x)
  }
  if(count){
    const images = document.getElementsByTagName("img")
    document.querySelector('.allPosts').childNodes.forEach( ( item )=>{
      item.addEventListener("dblclick",()=>{
        item.requestFullscreen().catch(console.log)
      })
    })
}

</script>

<%- include('partials/footer.ejs') %>

